body {
  max-width: $page-max-width;

  font-family: $font-family-1;
}

.scroll-wrapper {
  z-index: -10;
  position: relative;
  overflow: auto;
  height: 100%;
  // padding-top: 35px;
  -webkit-overflow-scrolling: touch;
  background-color: $site-color-3;

  @media screen and (min-width: $screen-l) {
    height: calc(100% - 190px);

    background-color: transparent;
  }
}

a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}
