body {
  font-family: $font-family-1;
}

.scroll-wrapper {
  z-index: -10;
  position: relative;
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;

  @media screen and (min-width: $screen-l) {
    height: calc(100% - 190px);
  }
}

.page-wrapper {
  background-color: $site-color-5;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
