body {
  font-family: $font-family-1;
  color: $font-color-1;
  -webkit-font-smoothing: antialiased;
}

.page-wrapper {
  background-color: $white;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
