.btn {
  padding: 8px 15px;

  font-family: 'Bariol';
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;

  border: 0;

  &.-white {
    color: $font-color-3;

    background-color: $site-color-3;

    &:hover {
      background-color: darken($site-color-3, 10);
    }
  }

  &.-black {
    color: $font-color-4;

    background-color: $site-color-1;

    &:hover {
      background-color: lighten($site-color-1, 10);
    }
  }
}

#nav-button {
  position: absolute;
  top: 0;
  left: 0 !important;
  opacity: 1;
  text-align: center;
  height: 100%;
  width: 30px;
  background: $site-color-1;
  padding: 0;

  > span {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px 10px;
    color: $font-color-4;
    background-color: transparent;
    border-radius: 0;
    transform: rotate(-90deg) translate(-50%, -50%);
  }

  @media screen and (min-width: $screen-l) {
    position: static;
    > span {
      background-color: $site-color-2;
    }
  }
}
