@font-face {
  font-family: 'Bariol';
  src:font-url('Bariol_Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol';
  src:font-url('Bariol_Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol';
  src:font-url('Bariol_Light.otf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
