@mixin arrow ($direction, $meassure, $border-width, $color, $rotate) {
  content: '';
  position: absolute;
  display: inline-block;
  width: $meassure;
  height: $meassure;
  -webkit-transform: rotate($rotate);
  transform: rotate($rotate);
  border-top: $border-width solid $color;

  @if $direction == 'left' {
    border-left: $border-width solid $color;
    left: 0;
  }

  @if $direction == 'right' {
    border-right: $border-width solid $color;
    right: 0;
  }
}
