.c-box {
  padding: 25px;
  margin: 30px 0;

  border: 1px solid $light-grey;
  background-color: rgba(230, 223, 215, .1);;

  p:last-child {
    margin: 0;
  }

  & + p {
    margin-top: $paragraph-margin;
  }
}
