.c-brand {

  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;


  background: url($logo-bg);

  > .wrap {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 20px 15px calc(30px + 20px);

    @media screen and (min-width: $screen-l) {
      padding: 15px 40px;
    }
  }



	.site-title {

    display: inline-block;
		margin: 0;

    font-size: 17px;
		font-weight: 300;
		text-transform: uppercase;
    letter-spacing: .8px;
		color: $font-color-4;

    @media screen and (min-width: $screen-m) {
      flex-basis: 80%;
    }

    @media screen and (min-width: $screen-l) {
      flex-basis: 75%;

      font-size: 22px;
    }
	}

  .btn {
    display: none;

    @media screen and (min-width: $screen-l) {
      display: inline-block;
    }
  }



}
