.c-brand {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 15px;
  background-size: cover;
  background-image: url($logo-bg);

	> p {
    display: inline-block;
    max-width: 100%;
		margin: 0;
		padding: 15px 30px;
    font-size: 17px;
		font-weight: 300;
		text-transform: uppercase;
    letter-spacing: .8px;
		color: $white;
	}

  @media screen and (min-width: $screen-m) {
    > p {
      max-width: 100%;
      font-size: 25px;
    }
  }

  @media screen and (min-width: $screen-l) {
    position: relative;
    padding: 0;
    > p {
      max-width: 75%;
      padding: 25px;
      font-size: 30px;
      letter-spacing: 1.5px;
    }
  }
}
