.c-brand {
	background-size: cover;
	background-image: url($logo-bg);

	> p {
    display: inline-block;
    max-width: 75%;
		margin: 0;
		padding: 25px;
		font-size: 30px;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1.6px;
		color: $white;
	}
}
