.c-table {
  width: 100%;
  > table {
    width: 100%;
    border: 1px solid $light-grey;

    tbody > tr {
      &:nth-child(odd) {
        > td {
          background-color: rgba(230, 223, 215, .1);
        }
      }
      &:nth-child(even) {
        > td {
          background-color: rgba(230, 223, 215, .3);
        }
      }
    }

    tr:last-of-type {
      border-bottom: 0;
    }
  }

  // List-table
  &.-responsive-list {
    table {
      border-collapse: separate;
    }
    thead > tr {
      > th {
        border-bottom: 0;
      }
    }

    tbody > tr {

      > td {
        display: block;
        border: 1px solid $light-grey;
        margin-right: -1px;
        border-bottom: 0;

        &:first-child {
          display: table-cell;
          min-width: 100px;
          border: 0;
          border-top: 1px solid $light-grey;
          background-color: transparent;
        }
        &:nth-child(odd) {
          background-color: rgba(230, 223, 215, .1);
        }
        &:nth-child(even) {
          background-color: rgba(230, 223, 215, .3);
        }
      }
    }
    @media screen and (max-width: $screen-m) {
      > table {
        width: 100%;
        thead th {
          font-size: 15px;
          text-align: center;
          border: 0;
        }

        tbody tr{
          td {
            display: block !important;

            &:nth-child(2) {
              border-top: 0;
            }
          }
        }
      }
    }
  }

  // General table
  @media screen and (max-width: $screen-m) {

    > table {
      tbody  td {
        display: block;
        text-align: justify;
        &:first-child {
          font-weight: 700;
        }
      }
    }
  }
}
