.c-table {
  width: 100%;
  > table {
    width: 100%;
    border: 1px solid $dandelion;

    thead > tr {
      th {
        background-color: rgba($dandelion, .2) !important;
        border: 0;
      }
    }

    tbody > tr {
      &:nth-child(odd) {
        > td {
          background-color: rgba($dandelion, .1);
        }
      }
      &:nth-child(even) {
        > td {
          background-color: rgba($dandelion, .2);
        }
      }
    }

    tr:last-of-type {
      border-bottom: 0;
    }
  }

  // List-table
  &.-responsive-list {
    table {
      border-collapse: separate;
    }

    tbody > tr {
      > td {
        display: block;
        // border: 1px solid $dandelion;
        margin-right: -1px;

        &:first-child {
          display: table-cell;
          min-width: 100px;
          // border-top: 1px solid $dandelion;
          border-right: 0;
          background-color: transparent;
        }
        &:nth-child(2) {
          // border-top: 1px solid $dandelion;
        }
        &:nth-child(odd) {
          background-color: rgba($dandelion, .1);
        }
        &:nth-child(even) {
          background-color: rgba($dandelion, .2);
        }
      }
    }
    @media screen and (max-width: $screen-m) {
      > table {
        width: 100%;
        thead th {
          font-size: 15px;
          text-align: center;
          border: 0;
        }

        tbody tr{
          td {
            display: block !important;
            &:first-child {
              border-top: 1px solid $dandelion;
            }
            &:nth-child(2) {
              border-top: 0;
            }
            &:nth-child(odd) {
              background-color: rgba($dandelion, .1);
            }
            &:nth-child(even) {
              background-color: rgba($dandelion, .2);
            }
          }
        }
      }
    }
  }

  // General table
  @media screen and (max-width: $screen-m) {

    > table {
      tbody  td {
        display: block;
        text-align: justify;
        &:first-child {
          font-weight: 700;
        }
      }
    }
  }
}
