.content {
  position: relative;
  top: 35px;

	max-width: 730px;
  padding: 35px 10px;

  font-family: $font-family-1;

  background-color: $site-color-3;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .1);

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: $font-family-2;
  }

  h2, h3 {
    color: $font-color-3;
  }

  h3, h4 {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .6px;
  }

  h1 {
    position: relative;
    margin: 20px 0;

    font-size: 48px;
    font-weight: 400;
    text-transform: none;

    background: none;
  }

  h2 {
    margin: 30px 0 20px 0;

    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1.1px;
  }

  h3 {
     margin-top: 30px;
  }

  p {
    margin: $paragraph-margin 0;
    padding: 0;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: .3px;
  }

  a {
    color: $font-color-3;
    text-decoration: underline;
    word-wrap: break-word;
  }

  @media screen and (min-width: $screen-m) {
    padding: 55px 30px;
  }

  // iPad
  @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
      max-width: 600px;
  }

  @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
      margin-top: 60px;
  }
}
