.content {
	max-width: 730px;
  font-family: $font-family-1;
  margin-top: 30px;
  padding: 75px 10px 50px 10px;

  h1, h2, h3, h4, h5, h6 {
    padding: 0;
    text-transform: uppercase;
  }

  h1, h2 {
    font-family: $font-family-2;
  }

  h1 {
    position: relative;
    font-size: 24px;
    font-weight: 300;
    background: none;
    border: 0;
    &:before {
      content: '';
      position: absolute;
      top: -25px;
      left: 0;
      width: 153px;
      height: 8px;
      background-color: $site-color-2;
    }
    & + div + h2 {
      margin: 20px 0;
    }

    @media screen and (min-width: $screen-m) {
      font-size: 48px;
    }
  }

  h2 {
    margin: 0;
    font-size: 17px;
    color: $font-color-3;
    font-weight: 700;
    letter-spacing: .6px;
    border: 0;
  }

  h3, h4 {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: .3px;
  }

  h4 {
    color: $font-color-3;
    font-weight: 700;
    text-transform: none;
  }

  p {
    margin: $paragraph-margin 0;
    padding: 0;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: .3px;
  }

  a {
    color: $font-color-3;
    text-decoration: underline;
  }

  @media screen and (min-width: $screen-m) {
    padding: 85px 30px 50px 30px;
  }

  // iPad
  @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
      max-width: 600px;
  }

  @media screen and (min-width: $screen-l) {
    margin: 0;
    padding: 50px 0 50px 50px;
  }
}
