.m-index {
  .toc-footer {
    padding: 15px 45px 25px 30px;
    border-top: 0;
    margin: 0;
    > li {
      padding: 0;
      white-space: normal;
      overflow-x: visible;
      p {
        font-size: 12px;
        color: rgba(255, 255, 255, .5);
      }
    }
  }
}
