.m-index {
  top: 70px;
  overflow: visible;

  .toc-footer {
    padding: 15px 45px 25px 30px;
    border-top: 0;
    margin: 0;
    > li {
      overflow-x: visible;

      padding: 0;
      white-space: normal;
      p {
        font-size: 13px;
        color: rgb(166,166,166);

        a {
          color: $font-color-1;
        }
      }
    }

    .btn {
      @media screen and (min-width: $screen-l) {
        display: none;
      }
    }
  }

  &.open + .page-wrapper {
    opacity: .3;
  }

  @media screen and (min-width: 565px) {
    top: 50px;
  }

  @media screen and (min-width: $screen-l) {
    top: 85px;
  }
}
