.m-index {
  top: 70px;
  overflow: visible;
  // overflow-y: scroll;

  .toc-footer {
    padding: 15px 45px 25px 30px;
    border-top: 0;
    margin: 0;
    > li {
      padding: 0;
      white-space: normal;
      overflow-x: visible;
      p {
        font-size: 12px;
        color: rgba(255, 255, 255, .5);
      }
    }
  }

  @media screen and (min-width: 575px) {
    top: 50px
  }

  @media screen and (min-width: $screen-l) {
    padding: 0;
    top: 0;
  }
}
