.m-index {
  top: 110px;
  overflow: visible;

  .toc-footer {
    padding: 15px 45px 25px 30px;
    border-top: 0;
    margin: 0;
    > li {
      overflow-x: visible;

      padding: 0;
      white-space: normal;
      p {
        font-size: 13px;
        color: rgb(166,166,166);

        a {
          color: $font-color-1;
        }
      }
    }

    .btn {
      @media screen and (min-width: $screen-l) {
        display: none;
      }
    }
  }

  &.open + .page-wrapper {
    opacity: .3;
  }

  @media screen and (min-width: 466px) {
    top: 90px;
  }

  @media screen and (min-width: 639px) {
    top: 70px;
  }

  @media screen and (min-width: 768px) {
    top: 65px;
  }

  @media screen and (min-width: $screen-l) {
    top: 100px;
  }

  // iPad
  @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
      padding-top: 50px;
  }
}
