.m-navigation-bar {
  position: relative;
  padding: 0 45px 25px 30px;

  .tocify-header {
    margin: 20px 0;

    li.tocify-item {
      font-family: $font-family-1;
      text-transform: uppercase;

      &.tocify-focus {
        background-color: transparent;
        box-shadow: none;
        &:before {
          z-index: -1;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          width: 100%;
          height: 28px;
          background-color: $site-color-2;
        }

        > a {
          color: $font-color-4;
        }
      }

      > a {
        padding: 0;

        font-size: 12px;
        color: $font-color-1;
      }
    }

    .tocify-subheader {
      display: none;
      background-color: transparent;
      background: none;

      .tocify-item {
        text-transform: none;

        > a {
          padding-left: 0;
        }
      }
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
