.m-search {
	&.search {
		&:before {
			z-index: 2;
			left: inherit;
			right: 0;
      opacity: .6;

      color: $font-color-1;
		}

		> input {
			width: 100%;
			margin-left: 0;
			padding-left: 0;

      color: $font-color-1;
		}
	}

  > .search-results {
    transition-property: none;
    &.visible {
      position: relative;
      margin: 0 -45px 0 -30px;
      padding-left: 15px;
      background: $grey-two;

      &:before {
        content: '';
        z-index: -1;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, .1);
      }
      li {
        color: $font-color-1;
        > a{
          font-weight: 400;
          color: $font-color-1;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
